/*BODY*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto+Mono:wght@500&display=swap');
*{
  font-family: "Young Serif", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #264654;
}
/*BODY*/


/*HEADER*/
header {
  background-color: #264653;
  border-bottom: 4px solid #f4a261;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
.nome-da-marca {
  font-family: "Roboto mono";
  font-size: 19px;
  color: #000;
  text-decoration: none;
}
.logo-top img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f4a261;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 3px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #F4A261;
  border-radius: 15px;
}

@media(min-width: 1px){
  .hamburger{
    display: block;
  }
}
@media(max-width: 400px){
  .logo-top img{
    width: 35px;
    height: 35px;
    margin-right: -9px;
  }
  .bar{
    margin-left: -9px;
    height: 3px;
    width: 18.75px;
  }
  .navbar{
    height: 50px;
  }
  .nome-da-marca{
    font-size: 18px;
  }
}
/*HEADER*/


/*FOOTER*/

/*FOOTER*/
footer{
  border-radius: 12px;
  position: relative;
  background: #264654;
  width: 100%;
  bottom: 0;
  left: 0;
  border: solid 2px;
  border-color: #f4a261;
  border-left: none;
  border-right: none;
  margin-top: 15px;
}
.logo a {
  display: block;
}
.logo-bottom img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f4a261;
}
@media only screen and (max-width: 400px) {
    #nome-da-marca {
      display: none;
    }
}
@media(max-width: 400px){
  .logo-bottom img{
    width: 40px;
    height: 40px;
  }
}
footer .redes{
  background: #264654;
  width: 100%;
  height: 80px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #f4a261;
}
@media(max-width: 400px){
   footer .redes{
    height: 125px;
    flex-direction: column;
  }
  .icones{
    padding-bottom: 20px;
  }
  .conf-logo{
    padding-top: 15px;
  }
}
footer .redes{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.redes .conf-logo{
  color: #000;
  font-size: 20px;
}
.redes .icones{
  display: flex;
}
.redes .icones a{
  height: 40px;
  width: 40px;
  margin: 0 4px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.redes .icones a:nth-child(1){
  background: #4267B2;
  border: 2px solid;
}
.redes .icones a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.redes .icones a:nth-child(2){
  background: #1DA1F2;
  border: 2px solid;
}
.redes .icones a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.redes .icones a:nth-child(3){
  background: #E1306C;
  border: 2px solid;
}
.redes .icones a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.redes .icones a:nth-child(4){
  background: #0077B5;
  border: 2px solid;
}
.redes .icones a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.redes .icones a:nth-child(5){
  background: #000;
  border: 2px solid;
}
.redes .icones a:nth-child(5):hover{
  color: #000;
  background: #fff;
}


/*COPYRIGTH SECTION*/
footer .copyrigth-section{
  width: 100%;
  background: #e76f51;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
footer .copyrigth-section .copyrigth-section-text-area{
  width: auto;
  margin: auto;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
.copyrigth-section .copyrigth-section-text-area span, .copyrigth-section .copyrigth-section-text-area a{
  font-size: 10px;
  font-weight: 300;
  color: #000;
  opacity: 0.8;
  text-decoration: none;
}
.copyrigth-section .copyrigth-section-text-area a:hover{
  opacity: 1;
  text-decoration: underline;
}
.copyrigth-section .copyrigth-section-text-area a{
  margin-right: 10px;
}
/*COPYRIGTH SECTION*/
/*FOOTER*/

/*FORMULÁRIO DE TEXTO*/
.caixa-de-texto{
  margin-bottom: 20px;
  width: 100%;
}
.caixa-de-texto .cabecalho-caixa-de-texto{
  background: #e9c46a;
  width: 220px;
  height: 20px;
  border-radius: 5px;
  margin-left: 40px;
  color: #000;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  position: relative;
}
.caixa-de-texto .cabecalho-caixa-de-texto::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100px;
  background: none;
}
footer .caixa-de-texto input{
  justify-content: center;
  height: 25px;
  width: 200px;
  margin: 10px 40px;
  outline: none;
  background: #fff;
  border-radius: 5px;
  border: none;
}
.caixa-de-texto li{
  list-style-type: none;
}
.caixa-de-texto input::placeholder{
  color: #000;
  padding-left: 10px;
  font-size: 14px;
}
.caixa-de-texto input[type="button"]{
  font-family: "Roboto mono";
  background: #e9c46a;
  color: #000;
  border: 2px solid #1d1a39;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.4s ease;
  height: 25px;
  width: 80px;
}
.caixa-de-texto input[type="button"]:hover{
  opacity: 1;
}
@media(min-width: 400px){
  .caixa-de-texto textarea{
    width: 300px;
  }
  footer .caixa-de-texto input{
    width: 300px;
  }
  .caixa-de-texto input[type="button"]{
    width: 120px;
  }
}

/*C1*/
main .c1{
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
.c1 .content1{
  background: #000000;
  color: #fff;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  border-top: 3px solid #E9C46A;
  border-bottom: 3px solid #E9C46A;
}
.content1 #aa1::before{
  content: '';
  width: 300px;
  height: 2px;
  background: #264654;
  position: absolute;
}
.content1 .paragraph-area{
  margin-left: -10px;
  margin-right: -10px;
  text-align: justify;
}
@media(max-width: 400px){
  .content1 #aa1::before{
    width: 150px;
  }
  .content1 h1{
    font-size: 15px;
  }
  .sub-and-data{
    font-size: 12px
  }
  .paragraph-area{
    font-size: 13px;
  }
}
.content1 .sub-and-data{
  margin-top: 9px;
}
.c1 .conteiner2{
  background: #000000;
  color: #fff;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  border-top: 3px solid #E9C46A;
  border-bottom: 3px solid #E9C46A;
}
.conteiner2 .paragraph-area{
  margin-left: -10px;
  margin-right: -10px;
  text-align: justify;
}
@media(max-width: 400px){
  .conteiner2 h1{
    font-size: 15px;
  }
  .sub-and-data{
    font-size: 12px
  }
  .paragraph-area{
    font-size: 13px;
  }
}
.conteiner2 #aa2::before{
  content: '';
  width: 300px;
  height: 2px;
  background: #264654;
  position: absolute;
}
@media(max-width: 400px){
  .conteiner2 #aa2::before{
    width: 150px;
  }
}
.conteiner2 .sub-and-data{
  margin-top: 9px;
}
.c1 .content1 li{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.c1 .conteiner2 li{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.c1 .conteiner2 .paragraph-area{
  padding: 10px;
}
.c1 .content1 .paragraph-area{
  padding: 10px;
}
.c1 .conteiner2 img{
  width: 60%;
  display: block;
  margin: auto
}
.c1 .content1 img{
  width: 60%;
  display: block;
  margin: auto;
}
/*TERCEIRO CONTEINER DE CONTEÚDO*/
.c1 .conteiner3{
  background: #000000;
  color: #fff;
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 8px;
  border-top: 3px solid #E9C46A;
  border-bottom: 3px solid #E9C46A;
}
.conteiner3 .paragraph-area{
  margin-left: -10px;
  margin-right: -10px;
  text-align: justify;
}
.c1 .conteiner3 img{
  width: 60%;
  display: block;
  margin: auto
}
.c1 .conteiner3 .paragraph-area{
  padding: 10px;
}
/*TERCEIRO CONTEINER DE CONTEÚDO*/


@media(min-width: 400px){
  .c1 .content1 img{
    width: 200px;
  }
}

@media(min-width: 550px){
  .c1 .content1 img{
    width: 250px
  }
}

@media(min-width: 768px){
  .c1 .content1 img{
    width: 300px;
  }
}
/*conteiner 2*/
@media(min-width: 400px){
  .c1 .conteiner2 img{
    width: 200px;
  }
}

@media(min-width: 550px){
  .c1 .conteiner2 img{
    width: 250px
  }
}

@media(min-width: 768px){
  .c1 .conteiner2 img{
    width: 300px;
  }
}

/*ARTE DE FUNDO - INÍCIO*/
main .art{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -5px;
  margin-bottom: 15px;
  height: 60px;
  background: #000000;
  border-radius: 3px;
  border-right: 3px solid #2A9D8F;
  border-left: 3px solid #2A9D8F;
}
main .pic-area{
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
  background: #000000;
  border-radius: 6px;
  border-left: 3px solid #2A9D8F;
  border-right: 3px solid #2A9D8F;
}
.pic-area .pics{
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*ARTE DE FUNDO - FIM*/

/*footer extension*/

footer .links{
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  border: 2px solid #000;
  display: flex;
  justify-content: space-around;
  padding: 6px;
}
.links ul{
  list-style-type: none;
}
.links li{
  align-items: ;
}
.links .titulo{
  font-size: 15px;
}
.links li{
  font-size: 14px;
}
@media(min-width: 350px){
  footer .links{
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 23px;
    padding: 9px;
  }
  .links .titulo{
    font-size: 17px;
  }
  .links li{
    font-size: 15px;
  }
}
@media(min-width: 550px){
  footer .links{
    margin-top: 22px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 12px;
  }
  .links .titulo{
    font-size: 19px;
  }
  .links li{
    font-size: 17px;
  }
  .links{
    width: calc(100% - 200px);
  }
}
@media(min-width: 650px){
  .links{
    width: calc(100% - 250px);
  }
}
