@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Young+Serif&display=swap');

*{
  font-family: "Young Serif", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(zyro-image\ \(2\).png);
  background-position: center;
  background-size: cover; /* Ajuste conforme necessário */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esta propriedade fixa o fundo */
}


/*HEADER START*/
header {
    background-color: #264654;
    border-bottom: 4px solid #f4a261;
    border-radius: 17px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-branding {
    font-size: 10px;
}

@media (min-width: 400px) {
  .nav-branding {
      font-size: 18px;
  }
}

/* Estilos para telas grandes */
@media (min-width: 500px) {
  .nav-branding {
      font-size: 20px;
  }
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: #000;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #000;
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #f4a261;
        border-radius: 17px;
        border-top: 3px solid #2a9d8f;
        width: 100%;
        text-align: center;
        transition: 0.2s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}

/*MAIN*/
main {
    background-color: #e9c464;
    width: 100%;
    height: 300px;
    margin-top: 15px;
    border-radius: 17px;
    border-bottom: 3px solid #f4a261;
}

/*PICS NAV*/
.firstsec {
    height: 50px;
    width: 100%;
    background-color: #fff;
    bottom: 0;
}

/*FOOTER*/
footer{
    border-radius: 12px;
    position: relative;
    background: #44426e;
    width: 100%;
    bottom: 0;
    left: 0;
    border: solid 2px;
    border-color: #776483;
    border-left: none;
    border-right: none;
    margin-top: 15px;
  }
  

  /* style.css */
.logo {
  text-align: center; /* Centraliza horizontalmente a logo (opcional) */
}

.logo a {
  display: block; /* Transforma o link em um bloco para que ele envolva toda a logo */
}

.logo img {
  max-width: 30%; /* Define a largura máxima da imagem para evitar que ela fique maior do que o contêiner da logo */
  height: auto; /* Mantém a proporção da imagem */
}

  footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 2px;
    width: 100%;
    background: #776483;
  }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  .top .media-icons a:nth-child(1){
    background: #4267B2;
    border: 2px solid;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
    border: 2px solid;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
    border: 2px solid;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
    border: 2px solid;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #000;
    border: 2px solid;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #000;
    background: #fff;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #000;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 5px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #e99e75;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #1d1f1daa;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 15px;
    color: #080808;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #000;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #e99e75;
    color: #1d1a39;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(1px);
    border-radius: 10px;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  
  @media (max-width: 900px) {
  footer .content .link-boxes{
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box{
    width: 40%;
    margin-top: 10px;
  }
  }
  @media (max-width: 700px){
  footer{
    position: relative;
  }
  .content .top .logo-details{
    font-size: 26px;
  }
  .content .top .media-icons a{
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 12px;
  }
  }
  
  @media (max-width: 520px){
  footer::before{
    top: 145px;
  }
  footer .content .top{
    flex-direction: column;
  }
  .content .top .media-icons{
    margin-top: 16px;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box{
    width: 100%;
  }
  }
  /*FIM DO RODAPE*/
  
  /***********/

  /*sidebar inside main*/